@import 'tailwindcss';
@import 'swiper/css';

:root {
  --background: radial-gradient(circle at center, #72aee6e6 40%, #fffdf8 80%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .app-container {
    @apply bg-gray-200 flex justify-center items-center;
  }

  .app-wrapper {
    @apply relative w-3xl min-w-94 px-1.5 pb-3 flex flex-col items-center justify-center min-h-screen;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-400) transparent;
  }

  /* Safari 및 구버전 Chrome/Edge 지원 */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-gray-400);
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-500);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
}

/* Toast 커스텀 스타일 */
.Toastify__toast.pw-toast {
  @apply rounded-full px-4 py-3 mx-4 my-3 w-auto max-w-80 shadow-md border-2 border-transparent bg-white text-black;
  min-height: auto;
}

.Toastify__toast.pw-toast--success {
  @apply border-green-600;
  /* background: linear-gradient(-45deg, #579fe2 0%, #30DCE8 100%); */
}

.Toastify__toast.pw-toast--error {
  @apply border-red-600 bg-red-600;
}
