@import 'tailwindcss';
@import 'swiper/css';

:root {
  --background: radial-gradient(
    circle at center,
    rgba(234, 240, 241, 0.502) 20%,
    #72aee6e6 40%,
    snow 80%
  );
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .app-container {
    @apply bg-gray-200 flex justify-center items-center;
  }

  .app-wrapper {
    @apply relative w-3xl min-w-94 px-1.5 pb-3 flex flex-col items-center justify-center min-h-screen;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
}
