@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .app-container {
    @apply bg-gray-200 flex justify-center items-center h-screen;
  }

  .app-wrapper {
    @apply w-3xl p-3 flex flex-col items-center justify-center h-screen;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
}
