name: Deploy

on:
  push:
    branches: ['develop']
  pull_request:
    branches: ['develop']

jobs:
  build:
    runs-on: ubuntu-latest
    container: pandoc/latex
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v2

      - name: Install mustache (to update the date)
        run: apk add ruby && gem install mustache

      - name: creates output
        run: sh ./build.sh

      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.AUTO_ACTIONS }}
        with:
          source-directory: 'output'
          destination-github-username: unanbb
          destination-repository-name: PHOTOWHALE-Deploy
          user-email: ${{ secrets.EMAIL }}
          commit-message: ${{ github.event.head_commit.message || github.event.pull_request.title || 'Update from GitHub Actions' }}
          target-branch: main

      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY

      - name: Comment PR with Deployment Link
        uses: thollander/actions-comment-pull-request@v2
        if: github.event_name == 'pull_request'
        with:
          message: |
            π€ **λ°°ν¬κ°€ μ™„λ£λμ—μµλ‹λ‹¤!**
            λ‹¤μ λ§ν¬μ—μ„ ν™•μΈν•μ‹¤ μ μμµλ‹λ‹¤:
            https://photowhale.vercel.app
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
